<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/styles.css">
    <title>Password Generator</title>
</head>
<body>
    <div id = "top-container">
        <h1> Password Generator</h1>
    </div>
    <div id = "bottom-container">
    </div>
    <div id = "generated-password-container">
    </div>
    <div id = "copy-button">
        <div>&#x2398;</div>
    </div>

    <div id = "checkbox-container">
        <input type="checkbox" name="lowercase-letters" value="lowercase-letters">
        <label for="lowercase-letters">Lowercase Letters</label><br>

        <input type="checkbox" name="uppercase-letters" value="uppercase-letters">
        <label for="uppercase-letters" >Uppercase Letters</label><br>

        <input type="checkbox" name="symbols" value="symbols">
        <label for="symbols"> Symbols</label><br>
        
        <input type="checkbox" name="numbers" value="numbers">
        <label for="numbers">Numbers</label><br>

    </div>
    <div id = "desired-length-container">
        <input type ="text" placeholder="Length of password"
    </div>
    <div id = "generate-password-button">
        <button>Generate Password</button>
    </div>



    <script href = "../static/app.js"></script>
</body>
</html>